# Flutter
/build/
/.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS
/ios/Pods/
/ios/.symlinks/

# Archivos temporales
.DS_Store
*.swp
*.swo
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.iml